/* line 1, ../sass/styles.scss */
html {
  overflow-x: hidden;
}
/* line 4, ../sass/styles.scss */
html body {
  font-size: 10px;
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
/* line 10, ../sass/styles.scss */
html body .hide {
  display: none;
}
/* line 14, ../sass/styles.scss */
html body .show {
  display: block;
}
/* line 19, ../sass/styles.scss */
html body .wrapper .fullScreenBtn {
  position: fixed;
  z-index: 1000;
}
/* line 24, ../sass/styles.scss */
html body .wrapper video, html body .wrapper object {
  left: 0;
  position: absolute;
  top: 0;
}
/* line 30, ../sass/styles.scss */
html body .wrapper #canvasImg {
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 36, ../sass/styles.scss */
html body .wrapper .countdown {
  position: absolute;
  z-index: 10;
  width: 100%;
}
/* line 41, ../sass/styles.scss */
html body .wrapper .countdown h1 {
  display: table;
  font-size: 5em;
  margin: 0 auto;
}
/* line 48, ../sass/styles.scss */
html body .wrapper .instructions {
  position: absolute;
  top: 5em;
  left: 5em;
  background: rgba(63, 103, 104, 0.5);
  padding: 2em;
  color: white;
}
/* line 56, ../sass/styles.scss */
html body .wrapper .instructions h3 {
  text-transform: uppercase;
  font-size: 3em;
}
/* line 62, ../sass/styles.scss */
html body .wrapper .pic-options {
  top: 50px;
  left: 50px;
  position: absolute;
}
