/* line 1, ../sass/styles.scss */
html {
  overflow-x: hidden;
}
/* line 4, ../sass/styles.scss */
html body {
  font-size: 10px;
  padding: 0;
  margin: 0;
}
/* line 9, ../sass/styles.scss */
html body .hide {
  display: none;
}
/* line 13, ../sass/styles.scss */
html body .show {
  display: block;
}
/* line 18, ../sass/styles.scss */
html body .wrapper video, html body .wrapper object {
  left: 0;
  position: absolute;
  top: 0;
}
/* line 24, ../sass/styles.scss */
html body .wrapper #canvasImg {
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 30, ../sass/styles.scss */
html body .wrapper .instructions {
  position: absolute;
  top: 5em;
  left: 5em;
  background: rgba(63, 103, 104, 0.5);
  padding: 2em;
  color: white;
}
/* line 38, ../sass/styles.scss */
html body .wrapper .instructions h3 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 3em;
}
/* line 45, ../sass/styles.scss */
html body .wrapper .pic-options {
  top: 50px;
  left: 50px;
  position: absolute;
}
