@import 'mixins';
@import 'variables';

html {
	overflow-x:hidden;
	
	body {
		font-size:10px;
		padding:0;
		margin:0;
		font-family:"Trebuchet MS", Helvetica, sans-serif;
		
		.hide {
			display:none;
		}
	
		.show {
			display:block;
		}
		
		.fullScreenBtn {
			position:fixed;
			z-index:1000;
			top:10px;
			left:10px;
		}
		
		.wrapper {
			
			video, object {
				left:0;
				position:absolute;
				top:0;
				margin-top: -238.5px !important;
			}
		
			#canvasImg {
				position:absolute;
				top:0;
				width:100%;
			}
			
			.countdown {
				position:absolute;
				z-index:10;
				width:100%;
				
				h1{
					display:table;
					font-size:5em;
					margin:0 auto;
				}
			}
			
			.take-pic-btn {
				width: 100%;
				height: 100%;
				position: fixed;
				top: 0;
				left: 0;
			}
			
			.instructions {
				position: absolute;
				top:5em;
				left:5em;
				background: rgba(63, 103, 104, 0.5); 
				padding:2em;
				color:white;
			
				h3 {
					text-transform:uppercase;
					font-size:3em;
				}
			}
		
			.pic-options {
				top:50px;
				left:50px;
				position:absolute;
			}
		}
	}	
}

//Saving
.overlay-container {
	width: 100%;
	z-index:20;
	position:absolute;
	display:none;
	
	&.saving-img{
		display:block;
	}
	
	.overlay {
		width:70em;
		height:40em;
		margin:0 auto;
		background:white;
		@include border-radius(2em);
		padding:3em;
		
		.img-saving,
		.tumblr-saving {
			h1 {
				display:inline-block;
			}
			
			.saving {
				display:inline-block;
				width:auto;
				margin: 5em auto;
				margin:0 auto;
				.anim-saving {
					float:left;
					margin: 0 1em;
					width:2em;
					height:2em;
					background:$green;
					@include border-radius(5em);
					text-indent:-9999px;
	
	    
	 
					-webkit-animation: bounce 1s infinite ease-in-out; /* Chrome, Safari, Opera */
					animation: bounce 1s infinite ease-in-out;
		
					-webkit-animation-delay: .25s;
					animation-delay: .25s;
		
				    -webkit-animation-fill-mode: both;
				     animation-fill-mode: both;
		 
					&:first-child {
						-webkit-animation-delay: 0s;
						animation-delay: 0s;
					}
		
					&:last-child {
						-webkit-animation-delay: .5s;
						animation-delay: .5s;
					}
				}
	
				.fa-check-circle {
					color:$green;
					font-size:5em;
				}
	
				.anim-result {
					display:none;
		
				}
	
				&.success {
					.anim-result {
						display:block;
						-webkit-animation: zoomIn 1s; /* Chrome, Safari, Opera */
						animation: zoomIn 1s;
					}
		
					.anim-saving {
						display:none;
					}
				}
			}
		}
		
		.tumblr-saving {
			opacity:.4;
			
			&.uploading {
				opacity:1;
				
				.saving {
					display:inline-block;
				}
			}
			
			.saving {
				display:none;
			}
		}
	}
}



/* Chrome, Safari, Opera */
@-webkit-keyframes bounce {
    0%, 100%   {-webkit-transform:translateY(0);}
    50%  {-webkit-transform:translateY(-2em);}
}

/* Standard syntax */
@keyframes bounce {
    0%, 100%   {transform:translateY(0);}
       50%  {transform:translateY(-2em);}
}

@keyframes zoomIn {
	0% {
		transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		transform: scale(1.1);	
	}
	100% {
		transform: scale(1);
		opacity: 1;	
	}		
}

@-webkit-keyframes zoomIn {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		-webkit-transform: scale(1.1);
	}

	100% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}		
}