@import 'mixins';
@import 'variables';
@import 'animations';

html {
	overflow-x:hidden;
	
	body {
		font-size:10px;
		padding:0;
		margin:0;
		font-family:"Trebuchet MS", Helvetica, sans-serif;
		
		.hide {
			display:none;
		}
	
		.show {
			display:block;
		}
		
		.fullScreenBtn {
			position:fixed;
			z-index:1000;
			top:10px;
			left:10px;
		}
		
		.color-overlay {
			width:100%;
			height:100%;
			position:absolute;
			background:white;
			z-index:10;
			display:none;
		}
		
		.wrapper {
			
			video, object {
				left:0;
				position:absolute;
				top:0;
			}
		
			#canvasImg {
				position:absolute;
				top:0;
				width:100%;
			}
			
			.countdown {
				position:absolute;
				z-index:10;
				width:100%;
				padding-top: 35px;
				
				.look-here {
					text-align: center;
					background: rgba(228,76,61, .75);
					margin: 0 auto;
					width: 30em;
					padding: 1em;
					color: white;
					
					&:before {
						content: "";
						position: relative;
						width: 0;
						height: 0;
						border-left: 25px solid transparent;
						border-right: 25px solid transparent;
						border-bottom: 25px solid rgba(228,76,61, .75);
						top: -47px;
					}
				}
				
				h1{
					display:table;
					font-size:5em;
					margin:0 auto;
				}
			}
			
			.take-pic-btn {
				width: 100%;
				height: 100%;
				position: fixed;
				top: 0;
				left: 0;
			}
			
			.instructions {
				position: absolute;
				top:5em;
				background: rgba(239, 80, 80, 0.75); 
				padding:2em;
				color:white;
				width:100%;
				top:50%;
				margin-top:-50px;
				
				h3 {
					text-transform:uppercase;
					font-size:4em;
					text-align:center;
				}
			}
		
			.pic-options {
				top:50px;
				left:50px;
				position:absolute;
			}
		}
	}	
}

//Saving
.overlay-container {
	width: 100%;
	height:100%;
	z-index:20;
	position:absolute;
	display:none;
	padding-top:5em;
	
	&.saving-img{
		display:block;
		
		animation-name: slideDown;
		-webkit-animation-name: slideDown;	

		animation-duration: .5s;	
		-webkit-animation-duration: .5s;
		
		animation-timing-function: ease-out;	
		-webkit-animation-timing-function: ease-out;
	}
	
	.overlay {
		width:70em;
		height:40em;
		margin:0 auto;
		background:white;
		@include border-radius(2em);
		padding:3em;
		text-align:center;
		
		.thank-you {
			background:$red;
			color:white;
		}
		
		.img-saving,
		.tumblr-saving {
			h1 {
				display:inline-block;
			}
			
			.saving {
				display:inline-block;
				width:auto;
				margin: 5em auto;
				margin:0 auto;
				.anim-saving {
					float:left;
					margin: 0 1em;
					width:2em;
					height:2em;
					background:$green;
					@include border-radius(5em);
					text-indent:-9999px;
	
	    
	 
					-webkit-animation: bounce 1s infinite ease-in-out; /* Chrome, Safari, Opera */
					animation: bounce 1s infinite ease-in-out;
		
					-webkit-animation-delay: .25s;
					animation-delay: .25s;
		
				    -webkit-animation-fill-mode: both;
				     animation-fill-mode: both;
		 
					&:first-child {
						-webkit-animation-delay: 0s;
						animation-delay: 0s;
					}
		
					&.last {
						-webkit-animation-delay: .5s;
						animation-delay: .5s;
					}
				}
	
				.fa-check-circle{
					color:$green;
					font-size:5em;
					display:none;
				}
				
				.fa-times-circle {
					font-size:5em;
					display:none;
					color:$red;
				}
	
				&.success {
					.anim-result {
						-webkit-animation: zoomIn 1s; /* Chrome, Safari, Opera */
						animation: zoomIn 1s;
						
						.fa-check-circle {
							display:block;
						}
					}
				}
				
				&.failed {
					.anim-result {
						-webkit-animation: zoomIn 1s; /* Chrome, Safari, Opera */
						animation: zoomIn 1s;
						
						.fa-times-circle {
							display:block;
						}
					}
				}
				
				&.success,
				&.failed {
					.anim-saving {
						display:none;
					}
				}
			}
		}
		
		.tumblr-saving {
			opacity:.4;
			
			&.uploading {
				opacity:1;
				
				.saving {
					display:inline-block;
				}
			}
			
			.saving {
				display:none;
			}
		}
	}
}